*, *::before, *::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    font: inherit;
}

img, svg, picture, video {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

body {
    font-family: 'Inter', sans-serif;
}

#root {
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #23252C;
}

.container {
    max-width: 317px;
}

.main-container {
    background-color: #1A1B21;
}

.profile {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.wrapper {
    padding-inline: 2.25em;
}

.main-container > .section-name {
    text-align: center;
}

.main-container > .section-name > h1 {
    color: #fff;
    font-size: 1.5625rem; 
    font-weight: 700;
    padding-top: 0.84rem;
}

.main-container > .section-name > h2 {
    color: #F3BF99;
    font-size: 0.8rem;
    margin-bottom: 0.625em;
}

.main-container > .section-name > p {
    color: #f5f5f5;
    font-size: 0.64rem;
}

.social-profile {
    display: flex;
    margin-top: 0.9375rem;
    justify-content: space-between;
    align-items: center;
}

.social-profile > a {
    display: flex;
    text-decoration: none;
    border-radius: 6px;
    padding: 0.75em 1.166em;
    font-size: 0.875rem;
    min-width: 115px;
    justify-content: center;
    flex-shrink: 0;
}

.social-profile > a:first-child {
    color: #374151;
    background-color: white;
}

.social-profile > a:last-child {
    color: #fff;
    background: #5093E2;
}

.social-profile > a > svg {
    margin-block: auto;
    margin-right: 0.5em;
}

.section-info > article > h1 {
    color: #F5F5F5;
    font-weight: 700;
    line-height: 2rem;
}

.section-info > article > p {
    color: #DCDCDC;
    font-size: 0.64rem;
    line-height: 150%;
}

.section-info {
    padding-block: 2.0625rem;
    background-color: #1A1B21;
}

.section-info > article:first-child {
    margin-bottom: 1em;
    
}

footer {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    border-radius: 0px 0px 10px 10px;
    background: #161619;
    padding-block: 1.25rem;
}